<h3><%= @question.title %>, By: <%= @question.user.username %></h3>

<% @answers.each do |answer| %>
  <pre>
    <%= answer.content %>
  </pre>
  By: <%= answer.user.username %>
  <i><%= answer.created_at.strftime("created on %m/%d/%Y at %I:%M%p") %></i>
  <hr>
<% end %>

<% if current_user %>
  <%= link_to "Add Answer", new_question_answer_path(@question) %>
<% else %>
 <p>
   <%= link_to 'Sign In', sign_in_path %> to Answer this Question
 </p>
<% end %>
