

<h3><%= @question.title %>, By: <%= @question.user.username %></h3>



<% @answers.each do |answer| %>
  <p>
    <%= answer.content %> By: <%= answer.user.username %>
  </p>  
<% end %>

<%= link_to "Add Answer", new_question_answer_path(@question) %>
